@using System.Data
@using System.Text.RegularExpressions
@using CreativaSl.Web.ViajesPorChiapas.Resources
@model CreativaSl.Web.ViajesPorChiapas.Models.ToursModels
@{
    Localizate locale = new Localizate();
}
@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@section metasTags{
    @if (Model.tablaMetaTags.Rows.Count >= 1)
    {
        <meta charset="utf-8">
        <title>@Html.Raw(Model.tablaMetaTags.Rows[0]["title"])</title>
        <meta name="author" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["author"])">
        <meta name="subject" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["subjetc"])">
        <meta name="description" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["description"])">
        <meta name="keywords" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["keywords"])">
        <meta name="robots" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["robots"])">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="@Html.Raw(Model.tablaMetaTags.Rows[0]["canonical"])" />

        //string Imagen = "http://www.viajeporchiapas.com" + Model.tablaArticulo.Rows[0]["pathImg"].ToString().Replace("~", "");
        <meta property="og:url" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["canonical"])" />
        <meta property="og:type" content="Tour" />
        <meta property="og:title" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["title"])" />
        <meta property="og:description" content="@Html.Raw(Model.tablaMetaTags.Rows[0]["description"])" />
        //<meta property="og:image" content="@Imagen" />
    }
    else
    {
        <meta charset="utf-8">
        <title></title>
        <meta name="author" content="">
        <meta name="subject" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="" />
    }
}
<div class="row page-title">
    <div class="container clear-padding text-center">
        <h3>@locale.GetResourceDetallePaquete("detalleTour")</h3>
    </div>
</div>
<!-- END: PAGE TITLE -->

<div class="row package-detail">
    <div class="container clear-padding">
        <div class="main-content col-md-8">
            <!-- START: HOLIDAY GALLERY -->
            <div id="gallery" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @{
                        if (Model.tablaTours.Rows[0]["ImagenesLugar"] != "")
                        {
                            string imagenesLugar = Model.tablaTours.Rows[0]["ImagenesLugar"].ToString();
                            string AltimagenesLugar = Model.tablaTours.Rows[0]["AltImagenesLugar"].ToString();
                            string TitleimagenesLugar = Model.tablaTours.Rows[0]["TitleImagenesLugar"].ToString();
                            string[] imagenesLugares = Regex.Split(imagenesLugar, "{");
                            string[] AltimagenesLugares = Regex.Split(AltimagenesLugar, "{");
                            string[] TitleimagenesLugares = Regex.Split(TitleimagenesLugar, "{");
                            if (imagenesLugares != null)
                            {
                                int totalImagenes = imagenesLugares.Count();
                                bool banActive = false;
                                for (int i = 0; i < totalImagenes; i++)
                                {
                                    if (banActive == false)
                                    {
                                        <li data-target="#gallery" data-slide-to="i" class="active"></li>
                                        banActive = true;
                                    }
                                    else
                                    {
                                        <li data-target="#gallery" data-slide-to="i" class="active"></li>
                                    }
                                }
                            }
                        }
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @{
                        if (Model.tablaTours.Rows[0]["ImagenesLugar"] != "")
                        {
                            string imagenesLugar = Model.tablaTours.Rows[0]["ImagenesLugar"].ToString();
                            string AltimagenesLugar = Model.tablaTours.Rows[0]["AltImagenesLugar"].ToString();
                            string TitleimagenesLugar = Model.tablaTours.Rows[0]["TitleImagenesLugar"].ToString();
                            string[] imagenesLugares = Regex.Split(imagenesLugar, "{");
                            string[] AltimagenesLugares = Regex.Split(AltimagenesLugar, "{");
                            string[] TitleimagenesLugares = Regex.Split(TitleimagenesLugar, "{");
                            if (imagenesLugares != null)
                            {
                                int totalImagenes = imagenesLugares.Count();
                                bool banActive = false;
                                for (int i = 0; i < totalImagenes; i++)
                                {
                                    if (banActive == false)
                                    {
                                        <div class="item active">
                                            <img src="@Url.Content(imagenesLugares[i])" title="@Html.Raw(TitleimagenesLugares[i])" alt="@Html.Raw(AltimagenesLugares[i])">
                                        </div>
                                        banActive = true;
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <img src="@Url.Content(imagenesLugares[i])" title="@Html.Raw(TitleimagenesLugares[i])" alt="@Html.Raw(AltimagenesLugares[i])">
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                </div>
                <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- END: HOLIDAY GALLRY -->
            <div class="package-complete-detail">
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" id="detatlles_" href="#overview"><i class="fa fa-suitcase"></i> <span>@locale.GetResourceDetallePaquete("detalles")</span></a></li>
                    <li><a data-toggle="tab" href="#itinerary"><i class="fa fa-street-view"></i> <span>@locale.GetResourceDetallePaquete("itinerario")</span></a></li>
                    <li class="active"><a data-toggle="tab" href="#inclusion"><i class="fa fa-plus-square"></i><span>@locale.GetResourceDetallePaquete("mapa")</span></a></li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane fade">
                        <h4 class="tab-heading">@locale.GetResourceDetallePaquete("descripcion")</h4>
                        <p>
                            @Model.tablaTours.Rows[0][@locale.GetResourceDetallePaquete("descripcionPGet")] <br><br>
                        </p>
                        <h4 class="tab-heading">@locale.GetResourceDetallePaquete("Observa")</h4>
                        <p>
                            @Model.tablaTours.Rows[0]["observaciones"] <br><br>
                        </p>
                        <h4 class="tab-heading">@locale.GetResourceDetallePaquete("incluye")</h4>
                        <p class="inc">
                            @{
                                if (Model.tablaTours.Rows[0][@locale.GetResourceDetallePaquete("incluyeGet")] != "")
                                {
                                    string incluye = Model.tablaTours.Rows[0][@locale.GetResourceDetallePaquete("incluyeGet")].ToString();
                                    string[] incluyes = Regex.Split(incluye, "\r\n");

                                    foreach (var inclu in incluyes)
                                    {
                                        <i class="fa fa-check-circle"></i> @Html.Raw(inclu) <br>
                                    }

                                }
                            }
                        </p>
                        <h4 class="tab-heading">@locale.GetResourceDetallePaquete("noIncluye")</h4>
                        <p class="inc">
                           @{
                               if (Model.tablaTours.Rows[0][@locale.GetResourceDetallePaquete("noIncluyeGet")] != "")
                               {
                                   string noIncluye = Model.tablaTours.Rows[0][@locale.GetResourceDetallePaquete("noIncluyeGet")].ToString();
                                   string[] noIncluyes = Regex.Split(noIncluye, "\r\n");

                                   foreach (var noInclu in noIncluyes)
                                   {
                                    <i class="fa fa-times-circle-o"></i> @Html.Raw(noInclu) <br>
                                   }
                               }
                        }
                        </p>
                        <h4 class="tab-heading">@locale.GetResourceDetallePaquete("Fin")</h4>
                        <p>
                            @Model.tablaTours.Rows[0][@locale.GetResourceDetallePaquete("finservicio")] <br><br>
                        </p>
                    </div>
                    <div id="itinerary" class="tab-pane fade ">
                        <h4 class="tab-heading">@locale.GetResourceDetallePaquete("itinerario")</h4>
                        @if (Model.tablaItinerario.Rows.Count == 1)
                        {
                            foreach (DataRow itinerario in Model.tablaItinerario.Rows)
                            {
                                <div class="daily-schedule">
                                    <div class="title" data-toggle="" data-target="#@Html.Raw(itinerario["id_itinerario"].ToString())">
                                        <p>
                                            @{
                                                string itinerarioGet = itinerario[locale.GetResourceDetallePaquete("nombreGET")].ToString();
                                                string[] itinerarios = Regex.Split(itinerarioGet, "-");
                                                if (itinerarios.Count() > 1)
                                                {
                                                    <span>@Html.Raw(itinerarios[0])</span>
                                                    @Html.Raw(itinerarios[1])
                                                }
                                                else
                                                {
                                                    @Html.Raw(itinerarios[0])
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div id="@Html.Raw(itinerario["id_itinerario"].ToString())" class="daily-schedule-body">
                                        <div class="col-md-4 col-sm-4">
                                            <img src="@Html.Raw(Html.Encode(itinerario["pathMul"].ToString().Replace("~", "")))" title="@Html.Raw(itinerario["title"].ToString())" alt="@Html.Raw(itinerario["alt"].ToString())">
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <p>@Html.Raw(itinerario[@locale.GetResourceDetallePaquete("descripcionIGet")])</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 activity">
                                            <h4>@locale.GetResourceDetallePaquete("observaciones")</h4>
                                            <p>@Html.Raw(itinerario[@locale.GetResourceDetallePaquete("observacionesGet")])</p>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12 activity">
                                            <h4>@locale.GetResourceDetallePaquete("recomendaciones")</h4>
                                            <p>@Html.Raw(itinerario[@locale.GetResourceDetallePaquete("recomendacionesGet")])</p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            foreach (DataRow itinerario in Model.tablaItinerario.Rows)
                            {
                            <div class="daily-schedule">
                                <div class="title" data-toggle="collapse" data-target="#@Html.Raw(itinerario["id_itinerario"].ToString())">
                                    <p>
                                        @{
                                            string itinerarioGet = itinerario[locale.GetResourceDetallePaquete("nombreGET")].ToString();
                                            string[] itinerarios = Regex.Split(itinerarioGet, "-");
                                            if (itinerarios.Count() > 1)
                                            {
                                                <span>@Html.Raw(itinerarios[0])</span>
                                                @Html.Raw(itinerarios[1])
                                            }
                                            else
                                            {
                                                @Html.Raw(itinerarios[0])
                                            }
                                        }
                                    </p>
                                </div>
                                <div id="@Html.Raw(itinerario["id_itinerario"].ToString())" class="daily-schedule-body collapse">
                                    <div class="col-md-4 col-sm-4">
                                        <img src="@Html.Raw(Html.Encode(itinerario["pathMul"].ToString().Replace("~", "")))" title="@Html.Raw(itinerario["title"].ToString())" alt="@Html.Raw(itinerario["alt"].ToString())">
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <p>@Html.Raw(itinerario[@locale.GetResourceDetallePaquete("descripcionIGet")])</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 activity">
                                        <h4>@locale.GetResourceDetallePaquete("observaciones")</h4>
                                        <p>@Html.Raw(itinerario[@locale.GetResourceDetallePaquete("observacionesGet")])</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 activity">
                                        <h4>@locale.GetResourceDetallePaquete("recomendaciones")</h4>
                                        <p>@Html.Raw(itinerario[@locale.GetResourceDetallePaquete("recomendacionesGet")])</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                             }
                         }
                    </div>
                    <div id="inclusion" class="tab-pane fade in active">
                        <div id="Mapita2" class="contact-map"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 package-detail-sidebar">
            <div class="col-md-12 sidebar-wrapper clear-padding">
                <div class="package-summary sidebar-item">
                    <h4><i class="fa fa-bookmark"></i>@Model.tablaTours.Rows[0][locale.GetResourceDetallePaquete("nombrePGET")]</h4>
                    <div class="package-summary-body">
                        <h5><i class="fa fa-heart"></i>@Model.tablaTours.Rows[0][locale.GetResourceDetallePaquete("nombrePGET")]</h5>
                        <p>@Model.tablaTours.Rows[0]["cantidaddias"] @locale.GetResourceDetallePaquete("dias") @locale.GetResourceDetallePaquete("y") @Model.tablaTours.Rows[0]["cantidadnoches"] @locale.GetResourceDetallePaquete("noches") </p>
                        <h5><i class="fa fa-map-marker"></i>@Html.Raw(Model.tablaSeccion.Rows[0]["nombre_seccion"])</h5>
                        <h5><i class="fa fa-globe"></i>@locale.GetResourceDetallePaquete("itinerario")</h5>
                        @{
                            string registro = "";
                            foreach (DataRow lugares in Model.tablaLugares.Rows)
                            {
                                registro += lugares["nombre"].ToString() + ", ";
                            }
                            <p>
                                @Html.Raw(registro)
                            </p>
                        }
                    </div>
                    <div class="package-summary-footer text-center">
                        <div class="col-md-6 col-sm-6 col-xs-6 price">
                            <h5>@locale.GetResourceDetallePaquete("desde")</h5>
                            @if (Convert.ToInt32(@Model.tablaTours.Rows[0]["Precio"]) > 0)
                            {
                                <h5>@Html.Raw(String.Format("{0:C}", Model.tablaTours.Rows[0]["Precio"]))/@locale.GetResourceDetallePaquete("persona")</h5>
                            }
                            else
                            {
                                <h5>@Html.Raw(@locale.GetResourceDetallePaquete("preguntar"))</h5>
                            }
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 book">
                            @{
                                string id = @Model.tablaTours.Rows[0]["nombre_pagina"].ToString();
                            }
                            <a href="@Url.Action("cotizar", "tours", new {id = id})">@locale.GetResourceDetallePaquete("cotizar")</a>
                        </div>
                    </div>
                </div>
                <div class="assistance-box sidebar-item">
                    <h4 class="text-center">@locale.GetResourceDetallePaquete("armarPaquete")</h4>
                    <div class="assitance-body text-center passenger-detail-body">
                        <h3>
                            @locale.GetResourceDetallePaquete("PaqueteViP")
                        </h3>
                        <a href="@Url.Action("cotizarpaquetevip", "Paquetes")">@locale.GetResourceDetallePaquete("cotizar")</a>
                    </div>
                </div>
                <div class="assistance-box sidebar-item">
                    <h4><i class="fa fa-phone"></i> @locale.GetResourceDetallePaquete("necesitaAsistencia")</h4>
                    <div class="assitance-body text-center">
                        <h5>@locale.GetResourceDetallePaquete("puedeContactarnos")</h5>
                        <h2>@Model.tablaDatosGenerales.Rows[0]["telefono"]</h2>
                        <h3>O</h3>
                        <a href="mailto:@Model.tablaDatosGenerales.Rows[0]["correo"]"><i class="fa fa-envelope-o"></i> @locale.GetResourceDetallePaquete("nuestroEmail")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Newsletter{
    <div class="container clear-padding">
        <div class="col-md-7 col-sm-7">
            <div class="progressbar fade-right animate1">
                @{
                    string newletter = Model.tablaDatosGenerales.Rows[0][locale.GetResourceSeccion("newsletter")].ToString();
                    string[] newsletter = Regex.Split(newletter, "\r\n");
                    if (newsletter != null)
                    {
                        int totalnewsletter = newsletter.Count();
                        if (totalnewsletter >= 1)
                        {
                            <p class="NL">@Html.Raw(newsletter[0])</p>
                        }
                        if (totalnewsletter >= 2)
                        {
                            <p>@Html.Raw(newsletter[1])</p>
                        }
                    }
                }
            </div>
            <form>
                <div class="col-md-9 col-sm-8 col-xs-6 clear-padding">
                    <input type="text" id="correoSuscribirse" class="form-control" required />
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 clear-padding">
                    <button type="button" id="btnSuscribirse"><i class="fa fa-paper-plane"></i> @locale.GetResourceSeccion("suscribirse")</button>
                </div>
                <p id="msg_newsletter" style="font-size: 25px;"></p>
            </form>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="social-media pull-right">
                <ul>
                    <li><a href="@Html.Raw(Model.tablaDatosGenerales.Rows[0]["facebook"])"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="@Html.Raw(Model.tablaDatosGenerales.Rows[0]["twitter"])"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="@Html.Raw(Model.tablaDatosGenerales.Rows[0]["instagram"])"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="@Html.Raw(Model.tablaDatosGenerales.Rows[0]["google"])"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="@Html.Raw(Model.tablaDatosGenerales.Rows[0]["youtube"])"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
}
@section Piedepagina{
    <div class="container clear-padding">
        <div class="col-md-3 col-sm-6 about-box">
            @{
                string pieAcerca = Model.tablaDatosGenerales.Rows[0][locale.GetResourceSeccion("pieAcerca")].ToString();
                string[] pieAcercas = Regex.Split(pieAcerca, "\r\n");
                if (pieAcercas != null)
                {
                    int totalPie = pieAcercas.Count();
                    if (totalPie >= 1)
                    {
                        <h3>@Html.Raw(pieAcercas[0])</h3>
                    }
                    if (totalPie >= 2)
                    {
                        <p class="descripcion">@Html.Raw(pieAcercas[1])</p>
                    }
                }
            }
        </div>
        <div class="col-md-3 col-sm-6 links">
            <h4>@locale.GetResourceSeccion("Popular")</h4>
            <ul>
                @foreach (DataRow PaquetPulares in Model.TablaPaquetesPopulares.Rows)
                {
                    string ids = PaquetPulares["nombre_pagina"].ToString();
                    <li><a href="@Url.Action("DetallePaquete", "Paquetes", new { id = ids })">@Html.Raw(PaquetPulares["nombre"])</a></li>
                }
            </ul>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 links">
            <h4>@locale.GetResourceSeccion("Servicio")</h4>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@locale.GetResource("inicio")</a></li>
                <li><a href="@Url.Action("Index", "Transportacion")">@locale.GetResource("transportacion")</a></li>
                <li><a href="@Url.Action("Index", "Promociones")">@locale.GetResource("promocion")</a></li>
                <li><a href="@Url.Action("Index", "Galerias")">@locale.GetResource("galeria")</a></li>
                <li><a href="@Url.Action("Index", "Blog")">@locale.GetResource("blog")</a></li>
                <li><a href="@Url.Action("Index", "Contactos")">@locale.GetResource("contacto")</a></li>
                <li><a href="@Url.Action("Index", "Recomendaciones")">@locale.GetResource("recomendaciones")</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 contact-box">
            <h4>@locale.GetResourceSeccion("contacto")</h4>
            <p>
                <i class="fa fa-home"></i>@locale.GetResourceSeccion("direccion"): @Html.Raw(Model.tablaDatosGenerales.Rows[0]["direccion"])
            </p>
            <p><i class="fa fa-phone"></i>@locale.GetResourceSeccion("telefono"): @Html.Raw(Model.tablaDatosGenerales.Rows[0]["telefono"])</p>
            <p><i class="fa fa-envelope-o"></i>@locale.GetResourceSeccion("correo"): @Html.Raw(Model.tablaDatosGenerales.Rows[0]["correo"])</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center we-accept">
            <h4>@locale.GetResourceSeccion("pago")</h4>
            <ul>
                @foreach (DataRow FormasPago in Model.TablaFormasDePago.Rows)
                {
                    <li><img class="formas-pago" src="@Html.Raw(Html.Encode(FormasPago["imagen"].ToString().Replace("~", "")))" alt="@Html.Raw(FormasPago["alt"].ToString())" title="@Html.Raw(FormasPago["title"].ToString())"></li>
                }
            </ul>
        </div>
    </div>
}
@section scriptF{
    <script>
        $(window).load(function () {
            cargarLugaresTuristicos();
            setTimeout(function () {
                $("#detatlles_").trigger("click");
            }, 1000);
        });
        function cargarLugaresTuristicos() {
            @{
                string registroDinamico = "var lugaresTuristicos = [";
                foreach (DataRow lugares in Model.tablaLugares.Rows)
                {
                    registroDinamico += "['" + lugares["nombre"].ToString() + "'," + lugares["latitud"].ToString() + "," + lugares["longitud"].ToString() + "],";
                }
                registroDinamico += "];";
                @Html.Raw(registroDinamico)
                <text>
                InitializeMap(lugaresTuristicos);
                </text>
            }
        }
        function InitializeMap(lugaresTuristicos) {
            var latitud = '@Html.Raw(Model.tablaTours.Rows[0]["latitud"])';
            var longitud = '@Html.Raw(Model.tablaTours.Rows[0]["longitud"])';
            var centroSeccion = new google.maps.LatLng(latitud, longitud);
            var mapOptions = {
                center: centroSeccion,
                zoom: 7,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                scaleControl: true,
                disableDoubleClickZoom: true,
                scrollwheel: false,
                draggable: true,
                streetViewControl: false
            };
            var map = new google.maps.Map(document.getElementById("Mapita2"), mapOptions);
            setMarkers(map, lugaresTuristicos);
        }
        function setMarkers(map, lugaresTuristicos) {
            for (var i = 0; i < lugaresTuristicos.length; i++)
            {
                var nombre = lugaresTuristicos[i][0];
                var latRepartidor = lugaresTuristicos[i][1];
                var longRepartidor = lugaresTuristicos[i][2];
                var lugar = new google.maps.LatLng(latRepartidor, longRepartidor);
                var marker = new google.maps.Marker({
                    map: map,
                    title: nombre,
                    position: lugar
                });
                var content = '<p>' + nombre + '</p>';
                var infoRepartior = new google.maps.InfoWindow();
                google.maps.event.addListener(marker, 'click', (function (marker, content, infoRepartior) {
                    return function () {
                        infoRepartior.setContent(content);
                        infoRepartior.open(map, marker);
                    };
                })(marker, content, infoRepartior));
            }
        }
        //window.onload = cargarLugaresTuristicos;
</script>
    }