@using System.Data
@model CreativaSl.Web.ViajesPorChiapas.Models.ConfiguracionModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Viaje Por Chiapas<small>  Administración</small></h3>
                </div>
            </div>
            <div id="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-edit"></i>Configuración</div>
                            </div>
                            <div class="portlet-body">
                                <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                    <div id="miGrid">
                                        <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                            <div class="row-fluid" style="margin:0px; padding:0px">
                                                <div class="portlet-body flip-scroll" style="text-align:center;">
                                                    <section id="flip-scroll">
                                                        <table id="example" class="table table-striped table-hover table-bordered dataTable">
                                                            <thead class="flip-content">
                                                                <tr>
                                                                    <th>Correo</th>
                                                                    <th>Telefono</th>
                                                                    <th>Facebook</th>
                                                                    <th>Twitter</th>
                                                                    <th>Instagram</th>
                                                                    <th>Editar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (DataRow configuracion in Model.tablaConfiguracion.Rows)
                                                                {
                                                                    <tr>
                                                                        <td>@configuracion["correo"].ToString()</td>
                                                                        <td>@configuracion["telefono"].ToString()</td>
                                                                        <td>@configuracion["facebook"].ToString()</td>
                                                                        <td>@configuracion["twitter"].ToString()</td>
                                                                        <td>@configuracion["instagram"].ToString()</td>
                                                                        <td style="text-align:center;"><a class="btn yellow" href="@Url.Action("Edit", "Configuracion", new { id = configuracion["id_configuracion"].ToString() })"><i class="icon-edit"></i></a></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    "bSort": false,
                    "bAutoWidth": false,
                    "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": 10
                });

                $('a.delete').live('click', function (e) {
                    e.preventDefault();
                    if (confirm("¿Confirmar eliminación?") == false) return;
                    var url = $(this).attr('href');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'json',
                        success: function (result) { location.reload(true); },
                        error: function () {
                            $('#Error').html('<h3>Ocurrio un error al eliminar este registro<h3>');
                            $('#Error').css("display", "block");
                            $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                            $('#Error').css("display", "block");
                        }
                    });
                });

            });
            jQuery(document).ready(function () {
                var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
    </script>
}


