@model CreativaSl.Web.ViajesPorChiapas.Models.UsuarioModels
@{
    ViewBag.Title = "GetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <body class="login">
        <div id="Error" class="error message" style="display: none; margin-top: -60px">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none; margin-top: -60px" ">
            <h3></h3>
        </div>
        <div class="logo">
            <img src="/Content/Pagina/logo.png" alt="" width="250px" height="150px" />
        </div>
        <div class="content">

            @using (Html.BeginForm("GetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                ;
                @Html.ValidationSummary(true)
                ;

                <h3 class="form-title">Reset Password</h3>
                <div class="alert alert-error hide">
                    <button class="close" data-dismiss="alert"></button>
                    <span>Introducir Correo</span>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.email2, new { @class = "m-wrap placeholder-no-fix" })
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            @Html.TextBoxFor(model => model.email2, new { id = "email2", @class = "", placeholder = "Correo Electrónico", style = "width: 80%;" })
                            @Html.ValidationMessageFor(model => model.email2)
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn green pull-right">
                        Reset<i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            }
            <div class="copyright">
                @DateTime.Now.Year &copy;Admin Viaje Por Chiapas.
            </div>
        </div>
    </body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/site.css")

    <script>
        jQuery(document).ready(function () {
            var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
    </script>
}


