@model CreativaSl.Web.ViajesPorChiapas.Models.CatMetaTagsModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Administrador/plugins/cropper/cropper.min.css")" />

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Viaje Por Chiapas<small>  Administración</small></h3>
                </div>
            </div>
            <div class="tab-pane">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Editar Meta Tags</div>
                    </div>
                    @using (Html.BeginForm("Edit", "MetaTags", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.id_metaTags)
                        @Html.HiddenFor(model => model.id_tipo)

                        <div class="portlet-body form">
                            <h3 class="form-section">Información</h3>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Title<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.title, new { id = "title", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.title)
                                            <span class="help-block">Ingrese el title</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Canonical<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextAreaFor(model => model.canonical, new { id = "canonical", @class = "span12 m-wrap", @rows = "8", @readonly = true})
                                            @Html.ValidationMessageFor(model => model.canonical)
                                            <span class="help-block">Ingrese la canonical</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Description<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextAreaFor(model => model.description, new { id = "description", @class = "span12 m-wrap", @rows = "8" })
                                            @Html.ValidationMessageFor(model => model.description)
                                            <span class="help-block">Ingrese la descripcion</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Subjetc<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.subjetc, new { id = "subjetc", @class = "span12 m-wrap", @rows = "8" })
                                            @Html.ValidationMessageFor(model => model.subjetc)
                                            <span class="help-block">Ingrese el Subjetc</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Keywords<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextAreaFor(model => model.keywords, new { id = "keywords", @class = "span12 m-wrap", @rows = "8" })
                                            @Html.ValidationMessageFor(model => model.keywords)
                                            <span class="help-block">Ingrese el Keywords</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Robots<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.robots, new SelectListItem[]
                                            {
                                                new SelectListItem() {Text = "index,follow", Value = "index,follow", Selected = true},
                                                new SelectListItem() {Text = "index,nofollow", Value = "index,nofollow"},
                                                new SelectListItem() {Text = "nofollow", Value = "nofollow"},
                                                new SelectListItem() {Text = "noindex,nofollow", Value = "noindex,nofollow"},
                                                new SelectListItem() {Text = "noarchive", Value = "noarchive"},
                                                new SelectListItem() {Text = "noindex,nofollow,noarchive,noodp,nosnippet", Value = "noindex,nofollow,noarchive,noodp,nosnippet"},
                                            }, new {id = "robots", @class = "form-control"})
                                        </div>
                                    </div>
                                    <span class="help-block">Seleccione el robots </span>
                                </div>
                                 <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Author<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.author, new { id = "author", @class = "span12 m-wrap", @rows = "8" })
                                            @Html.ValidationMessageFor(model => model.author)
                                            <span class="help-block">Ingrese el Author</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="submit" value="Guardar" class="btn green">
                                <a href="@Url.Action("Index","MetaTags")" class="btn btn-default red"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
    </script>
    <script src="@Url.Content("~/Content/Administrador/plugins/cropper/cropper.min.js")"></script>
    <script src="@Url.Content("~/Content/Administrador/scripts/image-cropper.js")"></script>
}

