@model CreativaSl.Web.ViajesPorChiapas.Models.RelacionTagsModels
@{
    ViewBag.Title = "Agregar tags";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Viaje Por Chiapas<small>  Administración</small></h3>
                </div>
            </div>
            <div class="tab-pane">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Añadir Tags</div>
                    </div>
                    @using (Html.BeginForm("AddTags", "CatTours", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.id_datoRelacionado)

                        <div class="portlet-body form">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Tags<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.tablaTagsCmb, ViewData["cmbTags"] as SelectList, new { id = "ListTags", multiple = "multiple", @class = "span12 m-wrap chosen" })
                                            @Html.ValidationMessageFor(model => model.tablaTagsCmb)
                                        </div>
                                    </div>
                                    <span class="help-block">Seleccione tags</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                @{string id = Model.id_datoRelacionado; }
                                <input type="submit" value="Guardar" class="btn green">
                                <a href="@Url.Action("Tags", "CatTours", new { id = id})" class="btn btn-default red"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>
                                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
    </script>
}
