@using System.Data
@model CreativaSl.Web.ViajesPorChiapas.Models.ToursModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Viaje Por Chiapas<small>  Administración</small></h3>
                </div>
            </div>
            <div id="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-edit"></i>Tours</div>
                            </div>
                            <div class="portlet-body">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <div class="span12">
                                            <a href="@Url.Action("Create", "CatTours")" class="btn btn-default green"><i class="icon-plus"></i> Nuevo Tour</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                    <div id="miGrid">
                                        <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                            <div class="row-fluid" style="margin:0px; padding:0px">
                                                <div class="portlet-body flip-scroll" style="text-align:center;">
                                                    <section id="flip-scroll">
                                                        <table id="example" class="table table-striped table-hover table-bordered dataTable">
                                                            <thead class="flip-content">
                                                                <tr>
                                                                    <th>Foto</th>
                                                                    <th>Sección</th>
                                                                    <th>Nombre</th>
                                                                    <th>País</th>
                                                                    <th>Estado</th>
                                                                    <th>Municipio</th>
                                                                    <th># dias</th>
                                                                    <th># noches</th>
                                                                    <th>Hora Llegada</th>
                                                                    <th>Minutos Llegada</th>
                                                                    <th>Editar</th>
                                                                    <th>Eliminar</th>
                                                                    <th>Itinerario</th>
                                                                    <th>Tags</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (DataRow tours in Model.tablaTours.Rows)
                                                                {
                                                                    <tr>
                                                                        <td><img src="@Html.Raw(Html.Encode(tours["pathImg"].ToString().Replace("~", "")))" width="32px" height="32px"></td>
                                                                        <td>@tours["nombre_seccion"].ToString()</td>
                                                                        <td>@tours["nombre"].ToString()</td>
                                                                        <td>@tours["pais"].ToString()</td>
                                                                        <td>@tours["estado"].ToString()</td>
                                                                        <td>@tours["municipio"].ToString()</td>
                                                                        <td>@tours["cantidadDias"].ToString()</td>
                                                                        <td>@tours["cantidadNoches"].ToString()</td>
                                                                        <td>@tours["horaLlegada"].ToString()</td>
                                                                        <td>@tours["minutosLlegada"].ToString()</td>
                                                                        <td style="text-align:center;"><a class="btn yellow" href="@Url.Action("Edit", "CatTours", new { id = tours["id_tour"].ToString() })"><i class="icon-edit"></i></a></td>
                                                                        <td style="text-align: center;"><a class="btn red delete" href="@Url.Action("Delete", "CatTours", new {id = tours["id_tour"].ToString()})"><i class="icon-trash"></i></a></td>
                                                                        <td style="text-align: center;"><a class="btn blue" href="@Url.Action("Itinerario", "CatTours", new {id = tours["id_tour"].ToString(), id2 = tours["id_seccion"].ToString()})"><i class="icon-list"></i></a></td>
                                                                        <td style="text-align:center;"><a class="btn green" href="@Url.Action("Tags", "CatTours", new { id = tours["id_tour"].ToString()})"><i class="icon-money"></i></a></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    "bSort": false,
                    "bAutoWidth": false,
                    "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": 10
                });

                $('a.delete').live('click', function (e) {
                    e.preventDefault();
                    if (confirm("¿Confirmar eliminación?") == false) return;
                    var url = $(this).attr('href');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'json',
                        success: function (result) { location.reload(true); },
                        error: function () {
                            $('#Error').html('<h3>Ocurrio un error al eliminar este registro<h3>');
                            $('#Error').css("display", "block");
                            $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                            $('#Error').css("display", "block");
                        }
                    });
                });

            });
            jQuery(document).ready(function () {
                var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
    </script>
}
